<%- include("header")  -%>
   
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    

    <div class="box">
        
               
                <% for(var i=0; i < newListItems.length; i++ ){ %>
                    <form class="itemdelete" action="/itemdelete<%= targetURL  %>" method="post">
                            <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= newListItems[i]._id %>" onchange="this.form.submit()">
                                <p name="singleTask"><%= newListItems[i].name %></p> 
                                <!-- <button type="submit" id="deleteTask" name="deleteTask">Delete</button> -->
                            </div>
                            
                    </form>
                <% } %>
               
                <form class="item" action="<%= targetURL  %>" method="post">
                        <input autocomplete="off"  type="text" name="todo" id="todo" placeholder="New Task">
                        <button class="input-task" id="input-task" name="list" value="<%=  listTitle %>" type="submit"> + </button>  
                </form>
    </div>
    
  



<%- include("footer") -%>